<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usp.inventory" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".ApplicationRoot"
        android:allowBackup="true"
        android:icon="@mipmap/ic_placeholder_person"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:theme="@style/Theme.AppCompat.Light.Dialog" >
        </activity>
        <activity
            android:name=".activity.PlaceOrderActivity"
            android:label="@string/title_activity_place_order"
            android:theme="@style/Theme.AppCompat.Light.Dialog" >
        </activity>
        <activity
            android:name=".activity.InventoryActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.AcceptOrderActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" >
        </activity>
    </application>

</manifest>
